<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 1 - Integrasi Sistem</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">
    <style>
        * {
            font-family: 'Poppins';
            padding: 0;
            margin: 0;
            text-align: center;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        th,
        td {
            padding: 1rem;
            border: 1px solid #2E2E2E;
        }

        table {
            border: 1px solid #2E2E2E;
        }
    </style>
</head>

<body>
    <div>
        <table id="myTable">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Year</th>
            </tr>
        </table>
    </div>
    <script>
        let url = 'http://localhost:3000/data'

        fetch(url).then(response => response.json()).then(responseData => {
            let display = responseData;
            console.log(display)

            let id = [];
            let name = [];
            let dob = [];
            let year = [];

            display.forEach((user_id) => { id.push(user_id.id) })
            display.forEach((user_name) => { name.push(user_name.name) })
            display.forEach((user_dob) => { dob.push(user_dob.dob) })
            display.forEach((user_year) => { year.push(user_year.year) })

            let table_body = document.getElementById('myTable');
            for (i = 0; i < display.length; i++) {
                var row = `<tr>
                    <td>` + id[i] + `</td>
                        <td> ` + name[i] + `</td>
                    <td>` + dob[i] + `</td >
                        <td>` + year[i] + `</td>
                            </tr >`
                table_body.innerHTML = table_body.innerHTML + row;
            }
        })
    </script>
</body>

</html>